data/
database/
logs/
experiments/
condor/
c_logs/
config/
docker_stderror
*.json
config/config_1.json
weka_logs/
lightning_logs/
experiments2/
logs2/
logs3/
experiments3/
logs4/
experiments4/
logs5/
experiments5/
logs6/
experiments6/
logs7/
experiments7/
logs8/
experiments8/

wandb/

### Python ###
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/python,visualstudiocode
config/config_1.json
train_t2.py
train_t.py
train_pl.py
test_train.py
train_no_lmdb_big_pl.py
dataset/hyperspectral_ds_v2_1_mat.py
dataset/hyperspectral_ds_v2_1.py
.gitignore
models/amsam_seb.py
models/amsam.py
models/amsam2.py
models/h_v3_cam.py
models/hyperkon_2D_3D_1.py
models/hyperkon_psnet.py
models/hyperkon_v2_1.py
models/hyperkon_v3_1.py
models/hyperkon_v3_2.py
models/resnext_seb copy.py
models/resnext_seb_small.py
models/seb_cam.py
models/seb_cam.txt
models/seb_cam2.py
utils/generate_patch_info.py
utils/save_lmdb_multiprocess.py
utils/save_lmdb.py
utils/update_lmdb.py
utils/save_lmdb_multiprocess_single.py
train_v2_pca.py
train_v2_calr.py
train_no_lmdb.py
train_lmdb.py
